[Unit]
Description=Cursor control via CEC
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/env picec.py

[Install]
WantedBy=graphical.target
