[Unit]
Description=Cursor control via CEC

[Service]
Type=simple
ExecStart=/usr/bin/env picec.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
